@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  width: 100vw;
  height: 100vh;
  font-family: Inter, sans-serif;
  overflow: hidden;
  color: #eaeaea;
  user-select: none;
  margin: 0;
  padding: 0;
}

* {
  cursor: default;
}

*:focus {
  outline: 0;
}